{# app/templates/staff/staff_view.html #}
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1> {{ lang_dict['staff_info'] if lang_dict.get('staff_info') else '员工信息' }} </h1>
     {% if staff_info %}
            <dl>
                {% for key, value in staff_info.items() %}
                    <dt>{{ lang_dict[key] if lang_dict.get(key) else key }}</dt>
                    <dd>{{ value }}</dd>
                {% endfor %}
            </dl>
         <a href="{{ url_for('staff.staff_edit') }}{% if current_lang %}?lang={{ current_lang }}{% endif %}">{{ lang_dict['edit_staff_info'] if lang_dict.get('edit_staff_info') else '编辑员工信息' }}</a>
        {% else %}
            <p>{{ lang_dict['no_staff_info'] if lang_dict.get('no_staff_info') else '您还没有填写员工信息，请点击' }}<a href="{{ url_for('staff.staff_info') }}{% if current_lang %}?lang={{ current_lang }}{% endif %}">{{ lang_dict['here'] if lang_dict.get('here') else '这里' }}</a>{{ lang_dict['to_fill_staff_info'] if lang_dict.get('to_fill_staff_info') else '填写员工信息' }}</p>
        {% endif %}
</div>
{% endblock %}