# .isort.cfg

[isort]
# 这是最重要的配置，它让 isort 的排序风格与 black 格式化工具完全兼容
profile = black

# 告诉 isort，'app' 目录是您自己的项目（第一方库）
# 这样它就能正确地将 from app import ... 与第三方库（如 from flask import ...）分开
known_first_party = app

# 跳过对这些目录的处理
skip_glob = .venv,migrations,docs