Flask
python-dotenv
Flask-Migrate
WTForms
SQLAlchemy
MarkupSafe
alembic                  # 数据库迁移引擎（Flask-Migrate的底层依赖）
PyMySQL~=1.1.1
Flask-WTF~=1.2.2
flask-login
isort~=6.0.1
#black~=25.1.0
Faker
Werkzeug
click
bootstrap-flask==2.3.0
email_validator