[Unit]
Description=MiXueBI Flask Application
After=network.target
[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MiXueBI5.0/MiXueBI4.1
Environment="PATH=/home/ubuntu/MiXueBI5.0/bin"
Environment="LANG=en_US.UTF-8"
ExecStart=/home/ubuntu/MiXueBI5.0/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 run:app
[Install]
WantedBy=multi-user.target