server {
    listen 80;
    server_name www.gothaieasy.fun;

    access_log /var/log/nginx/MXStoreBI6_access.log;
    error_log /var/log/nginx/MXStoreBI6_error.log;

    location /static {
        alias /root/MXStoreBI6/app/static;
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
