[program:MXStoreBI6]
command=/root/MXStoreBI6/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:8000 run:app
directory=/root/MXStoreBI6
user=root
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/MXStoreBI6_err.log
stdout_logfile=/var/log/supervisor/MXStoreBI6_out.log
environment=FLASK_APP="run.py",FLASK_ENV="production"
# 如需设置更多环境变量，可在此添加
# environment=FLASK_APP="run.py",FLASK_ENV="production",SECRET_KEY="b7e4c9f1-MyBI-2025-ProductionKey!@#",DATABASE_URL="mysql+pymysql://mixuebi_user:J7#p2Qm9!Lx$5vR*@/MXStoreBI_Production?unix_socket=/var/run/mysqld/mysqld.sock"
